<h1>Contacts</h1>
<%= link_to "New Contact", new_contact_path, class: "btn"%>

<%= form_with url: contacts_path, method: :get, local: true do |form|%>
  <%= form.text_field :search, placeholder: "Search by name"%>
  <%= form.submit "Search"%>
<%end%>



<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @contacts.each do |contact|%>
    <tr>
      <td><%=contact.firstname%></td>
      <td><%=contact.lastname%></td>
      <td>
        <%= link_to "Show", contact_path(contact)%>
      </td>
    </tr>
    <%end%>
  </tbody>
</table>

