<h1> Change password </h1>
<%= form_with model: Current.user, url: update_password_account_path,  method: :patch do |form|%>
  <div>
    <%= label_tag :current_password%>
    <%= password_field_tag :current_password%>
  </div>
   <div>
      <%= form.label :password, "New Password"%>
      <%= form.password_field :password%>
    </div>
    <div>
      <%= form.label :password_confirmation%>
      <%= form.password_field :password_confirmation%> 
    </div>

    <%= form.submit%>
    
<%end%>